*{
    box-sizing: border-box;
}

body {
    background-color: #8C11BE;
}

form {
    width: 100%;

    gap: 13px;
    
    display: flex;
    flex-direction: column;
}

form button {
    width: 100%;
    height: 46px;

    background: #A328D6;
    border-radius: 5px;
    
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #fff;

}

input {
    width: 100%;
    height: 58px;

    background-color: #fff;
    border: none;
    border-radius: 5px;
}

input::placeholder {
    padding: 15px;

    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

button:hover {
    cursor: pointer;
}